<!doctype html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.jpg">
    <title>GlossárioIFMS - ADM</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/offcanvas.css" rel="stylesheet">
  </head>

  <body class="bg-light">

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
      <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#exampleModal" style="cursor: pointer;">Adicionar Palavra</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/sair" method="get">
          <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Sair</button>
        </form>
      </div>
    </nav>

    <main role="main" class="container">
      <%console.log(cadastro.length)%>
      <%if(cadastro.length == 2) {%>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong><%= cadastro[0].titulo %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <%}%>
      <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-white rounded shadow-sm" style="justify-content: space-between; width: 100%;">
        <div class="d-flex" style="align-items: center;">
        <img src="img/logoGlossario.jpg" width="10%" height="10%">
          <div>
            <h4 class="mb-0 text-dark lh-100">GlossaryIFMS</h4>
            <small class="text-dark">ADM - Administrativo</small>
          </div>
        </div>
        <div class="text-dark">
          <h6>@<%= autor%></h6>
        </div>
      </div>

      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Minhas Palavras</h6>

        <% for(var i=0; i < palavrasAutor.length; i++){%>

          <div class="media text-muted pt-3">
            <img src="<%= palavrasAutor[i].img_palavra%>" width="5%" class="mr-2 align-self-center rounded">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">@<%= autor %></strong>
                Palavra: <%= palavrasAutor[i].palavra%> <br>
                Tradução: <%= palavrasAutor[i].traducao%>
             </p>
          </div>

        <%}%>
      </div>

      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Todas Palavras</h6>

      <% for(var i=0; i < P_outros_autores.length; i++){%>
        <div class="media text-muted pt-3">
          <img src="<%= P_outros_autores[i].img_palavra %>" width="5%" class="mr-2 rounded">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">@<%= P_outros_autores[i].nome_admin %></strong>
            </div>
            <span class="d-block">
              Palavra: <%= P_outros_autores[i].palavra %><br>
              Traducao: <%= P_outros_autores[i].traducao %>
            </span>
          </div>
        </div>
      <%}%>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel" >Adicionar Palavra</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/cadastro_palavra" method="post">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Palavra Inglês</label>
                    <input type="text" class="form-control" name="palavra" placeholder="Digite a palavra em português" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Tradução</label>
                    <input type="text" class="form-control" name="traducao" placeholder="Digite a tradução da palavra" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exemple_palavra">Escreva um exemplo da palavra</label>
                  <textarea class="form-control" name="exemplo_portugues" rows="2" required></textarea>
                </div>
                <div class="form-group">
                  <label for="exemple_traducao">Transcreva o exemplo em inglês</label>
                  <textarea class="form-control" name="exemplo_ingles" rows="2" required></textarea>
                </div>
                <div class="form-group">
                  <label for="exemple_traducao">Imagem</label>
                  <input type="url" class="form-control" name="img_palavra" placeholder="Cole a url da imagem da palavra" required>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </form>
          </div>
        </div>
      </div>



    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/holder.min.js"></script>
    <script src="js/offcanvas.js"></script>
     <script type="text/javascript">
      $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
      });
      $('#fechar-alert').click(function () {
        $('.alert').hide();
      });

    </script>
  </body>
</html>
